# Dev items
.vs/
node_modules/


# =======
# Plugins (use the common plugins repo)
# =======
Plugins/*
# Essentials
!Plugins/BCommands/
!Plugins/PermissionManager/

# =======
# Data
# =======
Data/
Config*.json
Guilds.json